# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
pubspec.lock

# Android related
**/android/**/local.properties
**/android/**/key.properties
**/android/**/.gradle
**/android/**/app/debug
**/android/**/app/profile
**/android/**/app/release

# iOS related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/

# VSCode
.vscode/

# Others
flutter_export_environment.sh
